button {
    margin: 6px;
    font-weight: bold;
    cursor: pointer;
}

#app {
    text-align: center;
    margin-top: 10%;
}

.green {
    background-color: #34eb95;
}

.purple {
    background-color: #aa7dd1;
}

.orange {
    background-color: #f2ca16;
}

/* input, table {
    text-align: center;
    width: 25%;
}

.button {
    text-align: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
} */